<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Eliminar Cita de Revisión
                    </div>
                            <div class="mb-4 mx-4">
                                <label for="Cita ID" class="form-label">Cita ID</label>
                                <input 
                                    type="number" 
                                    formControlName="Cita ID"
                                    class="form-control" 
                                    placeholder="Cita ID" />
                            </div>
                            <div class="row center">
                                <button class="btn btn-success" type="submit">Eliminar</button>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </body>