<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Registrar Visita de Mascota
                    </div>
                            <div class="mb-4 mx-4">
                                <label for="Cliente ID" class="form-label">Cliente ID</label>
                                <input 
                                    type="Cliente ID" 
                                    formControlName="Cliente ID"
                                    class="form-control" 
                                    placeholder="Cliente ID" />
                            </div>
                            <div class="mb-4 mx-4">
                                <label for="Veterinario ID" class="form-label">Veterinario ID</label>
                                <input 
                                    type="text" 
                                    formControlName="Veterinario ID"
                                    class="form-control" 
                                    placeholder="Veterinario ID" />
                            </div>
                            <div class="row center">
                                <button class="btn btn-success" type="submit">Registrar Visita</button>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </body>