.center{
    margin: auto;
    width: 50%;
    padding: 10;
}

.grad-bg {
    background: #f49d23; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9df91, #e6c27f, #e7a833); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #e9df91, #e6c27f, #e7a833); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
