<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Sucursal Menu
                    </div>
                    <div class="container">
                        <a href="/administrator-sucursal-crear" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Crear Sucursal</a>
                        <a href="/administrator-sucursal-buscar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Buscar Sucursal</a>
                        <a href="/administrator-sucursal-mostrar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Mostrar Sucursales</a>
                        <a href="/administrator-sucursal-actualizar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Actualizar Sucursal</a>
                        <a href="/administrator-sucursal-eliminar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Eliminar Sucursal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>