<body>
  <nav class="navbar bg-primary navbar-expand-lg">
      <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">MiPetCR</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2"></ul>
          </div>
      </div>
  </nav>

  <div class="container col-xxl-8 px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-lg-6 center">
              <img src="assets/MiPet.png" class="img-fluid" alt="MiPetCR Cover" loading="lazy">
          </div>
          <div class="col-lg-6">
              <h1 class="display-3 fw-bold lh-1 mb-3">Bienvenido a MiPetCR</h1>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <a href="/login-client" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Cliente</a>
                  <a href="/login-nutri" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Veterinario</a>
                  <a href="/login-admin" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Invitado</a>
              </div>
          </div>
      </div>
  </div>
</body>
