<body>

    <footer class="footer">

        <div class="container">
    
            <div class="row">
    
                <div class="footer-col">

                    <h4 class="h3">&copy; NutriTEC</h4>
                    <ul>
                        <li>
                            <a href="https://www.tec.ac.cr/">Tecnológico de Costa Rica</a>
                        </li>
                    </ul>

                </div>

                <div class="footer-col">

                    <h4 class="h3">About</h4>

                    <ul>
                        <li>
                            <a href="https://github.com/Isaacoun100/NutriTEC-WebApp">Source code</a>
                        </li>
                    </ul>
    
                    <div class="mb-2">
                    </div>
                    
                </div>
    
                <div class="footer-col">
                    <h4 class="h3">Links</h4>

                    <ul>
                        <li>
                            <a href="login-admin">Cliente</a>
                        </li>
                        <li>
                            <a href="login-nutri">Veterinario</a>
                        </li>
                        <li>
                            <a href="login-nutri">Invitado</a>
                        </li>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
    
                </div>
    
                <div class="footer-col">
                    
                    <h4 class="h3">Contact Us</h4>

                    <ul>
                        <li>
                            <a href="https://github.com/Isaacoun100">Ricardo Borbón</a>
                        </li>
                        <li>
                            <a href="https://github.com/JoseA4718">Max Garro</a>
                        </li>
                        <li>
                            <a href="https://github.com/maicolvn1399">Daniel Montoya</a>
                        </li>
                        <li>
                            <a href="https://github.com/NJohnsonCR">Naheem Johnson</a>
                        </li>
                    </ul>
    
                </div>
    
            </div>
    
        </div>

    </footer>

</body>