<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Hola Administrador
                    </div>
                    <div class="container">
                        <a href="/administrator-sucursal-menu" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Sucursal</a>
                        <a href="/administrator-producto-menu" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Producto</a>
                        <a href="/administrator-citas-menu" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Citas</a>
                        <a href="/administrator-mostrar-usuarios" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Mostrar Usuarios</a>
                        <a href="/administrator-mostrar-duenos" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Mostrar Dueños</a>
                        <a href="/administrator-mostrar-productos-de-orden" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Mostrar Productos de Orden</a>
                        <a href="/administrator-mostrar-ordenes" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Mostrar Órdenes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>