<body>
    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Consultar Expediente Médico
                        </div>
                            <div class="mb-4 mx-4">
                                <label for="Dueño" class="form-label">ID Dueño</label>
                                <input 
                                    type="text" 
                                    formControlName="Dueño"
                                    class="form-control" 
                                    placeholder="Dueño" />
                            </div>
                            <div class="row center">
                                <button class="btn btn-success" type="submit">Buscar</button>
                            </div>
                            <div class="mb-4 mx-4">
                                <label for="Detalles" class="form-label">Resultado de Búsqueda</label>
                            </div>
                        </div>
                    </div>
             </div>
        </div>
</body>