<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Editar Expediente Médico
                    </div>
                            <div class="mb-4 mx-4">
                                <label for="Mascota ID" class="form-label">Mascota ID</label>
                                <input 
                                    type="text" 
                                    formControlName="Mascota ID"
                                    class="form-control" 
                                    placeholder="Mascota ID" />
                            </div>
                            <div class="mb-4 mx-4">
                                <label for="Fecha" class="form-label">Fecha</label>
                                <input 
                                    type="date" 
                                    formControlName="Fecha"
                                    class="form-control" 
                                    placeholder="Fecha" />
                            </div>
                            <div class="mb-4 mx-4">
                                <label for="Detalles" class="form-label">Detalles</label>
                                <input 
                                    type="text" 
                                    formControlName="Detalles"
                                    class="form-control" 
                                    placeholder="Detalles" />
                            </div>
                            <div class="row center">
                                <button class="btn btn-success" type="submit">Actualizar</button>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </body>