<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Crear Sucursal
                    </div>
                            <div class="mb-4 mx-4">
                                <label for="Provincia" class="form-label">Provincia</label>
                                <input 
                                    type="text" 
                                    formControlName="Provincia"
                                    class="form-control" 
                                    placeholder="Provincia" />
                            </div>
                            <div class="mb-4 mx-4">
                                <label for="Canton" class="form-label">Canton</label>
                                <input 
                                    type="number" 
                                    formControlName="Canton"
                                    class="form-control" 
                                    placeholder="Canton" />
                            </div>
                            <div class="mb-4 mx-4">
                                <label for="Distrito" class="form-label">Distrito</label>
                                <input 
                                    type="text" 
                                    formControlName="Distrito"
                                    class="form-control" 
                                    placeholder="Distrito" />
                            </div>
                            <div class="mb-4 mx-4">
                                <label for="Domicilio" class="form-label">Domicilio</label>
                                <input 
                                    type="text" 
                                    formControlName="Domicilio"
                                    class="form-control" 
                                    placeholder="Domicilio" />
                            </div>
                            <div class="row center">
                                <button class="btn btn-success" type="submit">Crear</button>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </body>