<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Citas Menu
                    </div>
                    <div class="container">
                        <a href="/administrator-citas-crear" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Crear Cita</a>
                        <a href="/administrator-citas-mostrar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Mostrar Citas</a>
                        <a href="/administrator-citas-actualizar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Actualizar Cita</a>
                        <a href="/administrator-citas-eliminar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Eliminar Cita</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>