<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Hola Veterinario
                    </div>
                    <div class="container">
                        <a href="/login-client" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Consultar expediente médico</a>
                        <a href="/login-client" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Historial de compra de clientes</a>
                        <a href="/veterinario-editar-expediente" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Editar expediente médico</a>
                        <a href="/veterinario-busqueda-dueno" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Búsqueda por dueño</a>
                        <a href="/veterinario-crear-expediente" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Crear expediente médico</a>
                        <a href="/veterinario-crear-cita" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Crear citas de inspección</a>
                        <a href="/veterinario-registrar-visita" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Registrar visita de mascota</a>
                        <a href="/veterinario-cobrar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Cobrar a cliente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>