<body>

    <app-navbar></app-navbar>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Producto Menu
                    </div>
                    <div class="container">
                        <a href="/administrator-producto-crear" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Crear Producto</a>
                        <a href="/administrator-producto-mostrar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Obtener Todos los Productos</a>
                        <a href="/veterinario-editar-expediente" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Eliminar Producto</a>
                        <a href="/veterinario-busqueda-dueno" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Buscar Orden de Producto</a>
                        <a href="/administrator-producto-actualizar" type="button" class="btn custom-btn btn-lg px-4 me-md-2">Actualizar Producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>