<body>

    <app-sidebar-cliente></app-sidebar-cliente>

    <div class="container my-3">
            
        <div class="card-body">
            
            <div class="row">

                <div class="col-12 ">
                    <div class="h2 text-center">
                        Editar Perfil
                    </div>
                    <form [formGroup]="clientForm" (ngSubmit)="updateClient(clientForm.getRawValue())">
                        <div class="mb-4 mx-4">
                            <label for="cedula" class="form-label">Cédula</label>
                            <input 
                                type="number" 
                                formControlName="cedula"
                                class="form-control" 
                                placeholder="Cedula"/>
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="correo" class="form-label">Correo</label>
                            <input 
                                type="text" 
                                formControlName="correo"
                                class="form-control" 
                                placeholder="Correo" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input 
                                type="text" 
                                formControlName="nombre"
                                class="form-control" 
                                placeholder="Nombre" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input 
                                type="number" 
                                formControlName="telefono"
                                class="form-control" 
                                placeholder="Teléfono"/>
                        </div>

                        <div class="row d-flex justify-content-center">
                            <div class="col-auto p-2">
                                <button class="btn btn-success" type="submit">Editar Perfil</button>
                            </div>
                            <div class="col-auto p-2">
                                <a href="/client-hub" type="button" class="btn btn-primary me-2">Volver</a>
                            </div>
                        </div>
                    </form>
                           
        
                </div>
            </div>
        </div>
    </div>
    </body>
