<body>
    <app-sidebar-cliente></app-sidebar-cliente>

    <div class="container py-5">

        <div class="row py-4">

            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-4 text-center">
  
              <h1> Mis Mascotas</h1>
            </div>
        </div>

        <div class="row p-3">
            <div *ngFor = "let pet of pets; let i=index" class="col-4 p-2">
                <div class="card">
                    <div class="card-body">
                      <h2 class="card-text">{{pet['nombre']}}</h2>
                      <p class="card-text">Especie: {{pet['especie']}}</p>
                      <p class="card-text">Raza: {{pet['raza']}}</p>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-4 p-2">
                            <button class="btn btn-primary" (click)="viewPet(i)" >Ver historial</button>
                        </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-auto p-1">
                <a href="/client-hub" type="button" class="btn btn-primary me-2">Volver</a>
            </div>
        </div>
    </div>

</body>
