<body>

    <app-navbar></app-navbar>
    <form (ngSubmit)="updateProduct()">
        <div class="container my-3">
            
            <div class="card-body">
                
                <div class="row">
    
                    <div class="col-12 ">
                        <div class="h2 text-center">
                            Actualizar Producto
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="Codigo" class="form-label">Codigo</label>
                            <input
                                [(ngModel)]="producto.codigo" name="codigo"
                                type="text" 
                                class="form-control" 
                                placeholder="Codigo" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="Descripcion" class="form-label">Descripcion</label>
                            <input 
                                [(ngModel)]="producto.descripcion" name="descripcion"
                                type="text" 
                                class="form-control" 
                                placeholder="Descripcion" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="Marca" class="form-label">Marca</label>
                            <input 
                                [(ngModel)]="producto.marca" name="marca"
                                type="text" 
                                class="form-control" 
                                placeholder="Marca" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="Precio" class="form-label">Precio</label>
                            <input 
                                [(ngModel)]="producto.precio" name="precio"
                                type="number" 
                                class="form-control" 
                                placeholder="Precio" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="IVA" class="form-label">IVA</label>
                            <input 
                            [(ngModel)]="producto.iva" name="iva"
                                type="number" 
                                class="form-control" 
                                placeholder="IVA" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="Cantidad Disponible" class="form-label">Cantidad Disponible</label>
                            <input 
                                [(ngModel)]="producto.cantidad_disponible" name="cantidad_disponible"
                                type="number" 
                                class="form-control" 
                                placeholder="Cantidad Disponible" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="Categoria" class="form-label">Categoria</label>
                            <input 
                                [(ngModel)]="producto.categoria" name="categoria"
                                type="text" 
                                class="form-control" 
                                placeholder="Categoria" />
                        </div>
                        <div class="mb-4 mx-4">
                            <label for="Procedimiento Medico" class="form-label">Procedimiento Medico</label>
                            <input 
                                [(ngModel)]="producto.proc_med" name="proc_med"
                                type="checkbox" 
                                id="trueFalseCheckbox" 
                                >
                        </div>
                        <div class="row center">
                            <button class="btn btn-success" type="submit">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </form>
    
    </body>